[alias]
  cbranch = "!git rev-parse --abbrev-ref HEAD"
  heavens = "!echo 'Ours is the commit that will pierce the heavens!'"
  lagann = "!git heavens && git push --set-upstream origin $(git cbranch)"
  wipe = "!git reset --hard && git clean -fd"
  undo = "reset --soft HEAD~"
  amend = "commit --amend --no-edit"
  jones = "!f() { git log --all --full-history -- ${1}; }; f"
  lg = "log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n 20"
  apocalypse = "clean -dfX"
[advice]
  detachedHead = false
[pull]
	rebase = true
#Add this to your home directory's .gitconfig
#[include]
#    path = Projects/dotfiles/git/.gitconfig
